
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>We are going to a exciting party!</h2>
    <h3>And you are invited.</h3>
    @Html.ActionLink("RSVP NOW", "Rsvp", "", new {@class="btn btn-success"})
</div>

